{% load static %}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@500&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{%static 'app/css/style.css' %}"/>

	<link rel="stylesheet" href="{%static 'app/css/stylefooter.css' %}">

    <link rel="stylesheet" href="{%static 'app/css/dropdown.css' %}">

</head>

<body>
	<section class="header-section">
		<nav class="navbar navbar-expand-lg navbar-dark ftco-navbar-light">
			<div class="container">
				<a class="navbar-brand" href="#"><i class="fas fa-recycle"></i> Resourcicle</a>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav m-auto">
						<li class="nav-item"><a href="#" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Create product</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Cart</a></li>
						<li class="nav-item"><a href="#" class="nav-link">Register</a></li>
					</ul>
				</div>
				<a class="navbar-brand" href="#"><i class="far fa-comment"></i></a>
                <div class="dropdown">
                    <a class="navbar-brand" href="#"><i class="far fa-user"></i></a>
                    <div class="dropdown-content">
                      <a href="#">USER PROFILE</a>
                      <a href="#">ORDER</a>
                      <a href="#">EXIT <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                </div>			
            </div>
		</nav>
		<!-- END nav -->
	</section>
	<!--main body-->
	{% block main-content %} {% endblock main-content %}
	<footer class="footer-07">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="footer-heading"><a href="#" class="logo">Resourcicle</a></h2>
                    <p class="menu">
                        <a href="#">Ngọc Minh</a>
                        <a href="#">Mai Phương</a>
                        <a href="#">Khánh Linh</a>
                        <a href="#">Hạnh Nguyên</a>
                    </p>
                    <ul class="ftco-footer-social p-0">
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                               ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                                ><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top"
                            ><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12 text-center">
                    <p class="copyright">
                        Thank you for visiting our website!
                    </p>
                </div>
            </div>
        </div>
    </footer>
	<script src="https://kit.fontawesome.com/c96d9795cb.js" crossorigin="anonymous"></script>
</body>

</html>